body{
	width: 800px;
}
li{
	padding:10px;
	list-style-type: none;
}
input[type="checkbox"]{
	/*display: none;*/
}
label{display: block;z-index: 10;}
.list-group-item.active{background-color: #7A8288;}
.page-header{margin:100px 0 20px;}

