body {
    width: 100%;
}

#resources input[type="checkbox"] {
    position: absolute;
    top: 25px;
    /*display: none;*/
}

button {
    width: 100%;
    margin: 10px auto;
}

#simple-ui button {
    width: 120px;
}
#simple-ui button img {
    margin-right: 5px;
}
#simple-ui label {
    width: 140px;
    float: left;
}

#resources label {
    display: block;
    z-index: 10;
}
#resources label.list-group-item {
    padding-left: 40px;
}
#resources label.list-group-item p {
    margin-right: 20px;
    margin-left: 50px;
}
#resources label.preferences {
    display: inline;
    padding: 10px;
}
#resources label.preferences input {
    margin: 0 10px;
}
form#simple-ui {
    margin-left: 40px;
}
.list-group-item.successful {
    background-color: green;
}
.list-group-item.failed {
    background-color: red;
}

.list-group-item {
    width: 750px;
    margin: 10px 0;
}

.panel-heading {
    padding: 0;
}
.panel-body {
    padding: 0;
}

#content {
    margin-top: 40px;
}
.page-header {
    margin: 35px 0 5px 0;
}
.container {
    width: 800px;
}

#file-type-destinations {
    padding: 10px 20px;
}

#main-nav a {
    margin: 0 20px;
    padding: 10px 20px;
}
.container[role="main"] form {
}
#setup {
    margin-top: 20px;
}
.container[role="complementary"] a {
    padding-top: 20px;
}

#popup #status {
    padding: 10px;
}
.alert-success a {
    color: #000;
}
.alert-danger a {
    color: #000;
}
.bounce {
    margin-left: -9999px;
    height: 0;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav > li,
.navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right !important;
}

#numTabs {
    color: #fff;
}

#autoclose-status {
    color: #fff;
}

#simple-ui:after {
    content: "";
    display: block;
    clear: both;
}

/**
 * Options page
 */

#options-page {
    margin: 0 auto;
}
#options-page #content {
    margin-top: 0px;
}
#options-page .container {
    width: 800px;
}
#options-page .list-group-item {
    margin: 5px 10px;
    float: left;
    padding: 0;
}
#options-page #file-type-destinations input {
    margin: 0 10px 0 0;
}

#options-page #file-type-destinations .panel-body label {
    float: left;
    padding: 10px 20px;
}

#options-page input[type="checkbox"] {
    margin: 0 10px 0 10px;
}
#options-page h4 {
    margin: 0;
    padding: 10px 0;
}
#options-page #status {
    position: fixed;
    top: 0;
    left: 45%;
    width: 100%;
    z-index: 0;
}

#overlay {
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
